In [2]:
import pandas as pd

In [3]:
# Read the vectorized csv file
df = pd.read_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/vectorized_cocktails.csv")
df.head(5)

,id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text,ingredient_vec
0,0,A1,1.0,cocktail,cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grand marnier', 'lemon juice', 'grena...","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,ABC,1.0,shot,shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"['amaretto', 'baileys irish cream', 'cognac']","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,2,Ace,1.0,cocktail,martini glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grenadine', 'heavy cream', 'milk', 'e...","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,ACID,1.0,shot,shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"['151 proof rum', 'wild turkey']","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,Adam,1.0,ordinary drink,cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"['dark rum', 'lemon juice', 'grenadine']","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [4]:
# Step 1: Create categories table (unique values + ID)
categories = pd.DataFrame({"name": df['category'].unique()})
categories["category_id"] = categories.index + 1

# Step 2: Merge category_id into df
df = df.merge(categories, left_on='category', right_on='name', how='left') \
    .rename(columns={'id': 'category_id'})

df.drop(columns=['name_y'], inplace=True)
df.rename(columns={'name_x': 'name'}, inplace=True)

In [5]:
# Reorder the columns of categories table
categories = categories[['category_id', 'name']]

In [6]:
categories.head(5)

   category_id             name
0            1         cocktail
1            2             shot
2            3   ordinary drink
3            4  other / unknown
4            5     coffee / tea

In [7]:
df.head(5)

,category_id,name,alcoholic,category,glassType,instructions,drinkThumbnail,ingredients,ingredientMeasures,text,ingredient_vec,category_id
0,0,A1,1.0,cocktail,cocktail glass,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grand marnier', 'lemon juice', 'grena...","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
1,1,ABC,1.0,shot,shot glass,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"['amaretto', 'baileys irish cream', 'cognac']","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",2
2,2,Ace,1.0,cocktail,martini glass,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"['gin', 'grenadine', 'heavy cream', 'milk', 'e...","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
3,3,ACID,1.0,shot,shot glass,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"['151 proof rum', 'wild turkey']","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
4,4,Adam,1.0,ordinary drink,cocktail glass,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"['dark rum', 'lemon juice', 'grenadine']","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3

In [8]:
# Step 3: Create glass types table (unique values + ID)
glass_types = pd.DataFrame({"name": df['glassType'].unique()})
glass_types["glass_type_id"] = glass_types.index + 1
# Step 4: Merge glass_type_id into df
df = df.merge(glass_types, left_on='glassType', right_on='name', how='left') \
    .rename(columns={'id': 'glass_type_id'})
df.drop(columns=['name_y'], inplace=True)
df.rename(columns={'name_x': 'name'}, inplace=True)

In [9]:
# Reorder the columns of glass types table
glass_types = glass_types[['glass_type_id', 'name']]
glass_types.head(5)

   glass_type_id            name
0              1  cocktail glass
1              2      shot glass
2              3   martini glass
3              4  highball glass
4              5   collins glass

In [10]:
import pandas as pd
import ast
from itertools import chain

# Step 1: Define safe parser
def safe_literal_eval(val):
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)
        except:
            return []
    elif isinstance(val, list):
        return val
    else:
        return []

# Step 2: Apply parser to all ingredient lists
df['ingredients'] = df['ingredients'].apply(safe_literal_eval)

# Step 3: Flatten and clean all ingredient names
all_ingredients = list(chain.from_iterable(df['ingredients']))
all_ingredients = [ing.strip() for ing in all_ingredients if isinstance(ing, str) and ing.strip()]

# Step 4: Get unique list and create table
unique_ingredients = sorted(set(all_ingredients))
ingredients = pd.DataFrame({
    "ingredients": unique_ingredients
})
ingredients["ingredient_id"] = ingredients.index + 1

# Optional: Reorder for clarity
ingredients = ingredients[['ingredient_id', 'ingredients']]

In [11]:
# Reorder the columns of ingredient table
ingredients = ingredients[['ingredient_id','ingredients']]
ingredients.head(5)

   ingredient_id     ingredients
0              1   151 proof rum
1              2            7-up
2              3        absinthe
3              4  absolut citron
4              5  absolut kurant

In [12]:
# Create a mapping from ingredient name to ID
ingredient_map = dict(zip(ingredients['ingredients'], ingredients['ingredient_id']))

# Map ingredient names to IDs for each cocktail
df['ingredient_ids'] = df['ingredients'].apply(lambda lst: [ingredient_map.get(ing) for ing in lst if ing in ingredient_map])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   category_id         425 non-null    int64
 1   name                425 non-null    object
 2   alcoholic           419 non-null    float64
 3   category            425 non-null    object
 4   glassType           425 non-null    object
 5   instructions        425 non-null    object
 6   drinkThumbnail      425 non-null    object
 7   ingredients         425 non-null    object
 8   ingredientMeasures  425 non-null    object
 9   text                425 non-null    object
 10  ingredient_vec      425 non-null    object
 11  category_id         425 non-null    int64
 12  glass_type_id       425 non-null    int64
 13  ingredient_ids      425 non-null    object
dtypes: float64(1), int64(3), object(10)
memory usage: 46.6+ KB

In [14]:
df['alcoholic'].fillna("Unknown", inplace=True)
df['alcoholic'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 425 entries, 0 to 424
Series name: alcoholic
Non-Null Count  Dtype
--------------  -----
425 non-null    object
dtypes: object(1)
memory usage: 3.4+ KB

/var/folders/_v/748f6knn2rn6hxzy2ph7lg5c0000gn/T/ipykernel_44965/636029445.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['alcoholic'].fillna("Unknown", inplace=True)
/var/folders/_v/748f6knn2rn6hxzy2ph7lg5c0000gn/T/ipykernel_44965/636029445.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['alcoholic'].fillna("Unknown", inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   category_id         425 non-null    int64
 1   name                425 non-null    object
 2   alcoholic           425 non-null    object
 3   category            425 non-null    object
 4   glassType           425 non-null    object
 5   instructions        425 non-null    object
 6   drinkThumbnail      425 non-null    object
 7   ingredients         425 non-null    object
 8   ingredientMeasures  425 non-null    object
 9   text                425 non-null    object
 10  ingredient_vec      425 non-null    object
 11  category_id         425 non-null    int64
 12  glass_type_id       425 non-null    int64
 13  ingredient_ids      425 non-null    object
dtypes: int64(3), object(11)
memory usage: 46.6+ KB

In [16]:
df = df.loc[:, ~df.columns.duplicated()]
df.drop(columns=['category', 'glassType'], inplace=True)
df.rename(columns={
    'drinkThumbnail': 'image_url',
    'glass_type_id': 'glass_id'
}, inplace=True)

In [17]:
df.head(5)

,category_id,name,alcoholic,instructions,image_url,ingredients,ingredientMeasures,text,ingredient_vec,glass_id,ingredient_ids
0,0,A1,1.0,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,"[gin, grand marnier, lemon juice, grenadine]","['1 3/4 shot ', '1 Shot ', '1/4 Shot', '1/8 Sh...",question Generate a cocktail with Gin Grand Ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,"[122, 131, 163, 137]"
1,1,ABC,1.0,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,"[amaretto, baileys irish cream, cognac]","['1/3 ', '1/3 ', '1/3 ']",question Generate a cocktail with Amaretto Bai...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",2,"[12, 28, 81]"
2,2,Ace,1.0,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,"[gin, grenadine, heavy cream, milk, egg white]","['2 shots ', '1/2 shot ', '1/2 shot ', '1/2 sh...",question Generate a cocktail with Gin Grenadin...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,"[122, 137, 140, 185, 106]"
3,3,ACID,1.0,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,"[151 proof rum, wild turkey]","['1 oz Bacardi ', '1 oz ']",question Generate a cocktail with 151 proof ru...,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2,"[1, 286]"
4,4,Adam,1.0,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,"[dark rum, lemon juice, grenadine]","['2 oz ', '1 oz ', '1 tsp ']",question Generate a cocktail with Dark rum Lem...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,"[99, 163, 137]"

In [18]:
if 'drinkThumbnail' in df.columns:
    df.rename(columns={'drinkThumbnail': 'image_url'}, inplace=True)

# If ingredient_ids are still strings, make sure they are lists
import ast

def safe_literal_eval(val):
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)
        except:
            return []
    elif isinstance(val, list):
        return val
    else:
        return []

df['ingredient_ids'] = df['ingredient_ids'].apply(safe_literal_eval)

# Create the cocktail table
cocktails = pd.DataFrame({
    "cocktail_id": df.index + 1,
    "name": df['name'],
    "instructions": df['instructions'],
    "image_url": df['image_url'],
    "category_id": df['category_id'],
    "glass_id": df['glass_id'],
    "alcoholic": df['alcoholic']
})
print(cocktails.head())

   cocktail_id  name                                       instructions  \
0            1    A1  Pour all ingredients into a cocktail shaker, m...
1            2   ABC                           Layered in a shot glass.
2            3   Ace  Shake all the ingredients in a cocktail shaker...
3            4  ACID  Poor in the 151 first followed by the 101 serv...
4            5  Adam  In a shaker half-filled with ice cubes, combin...

                                           image_url  category_id  glass_id  \
0  https://www.thecocktaildb.com/images/media/dri...            0         1
1  https://www.thecocktaildb.com/images/media/dri...            1         2
2  https://www.thecocktaildb.com/images/media/dri...            2         3
3  https://www.thecocktaildb.com/images/media/dri...            3         2
4  https://www.thecocktaildb.com/images/media/dri...            4         1

  alcoholic
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0

In [19]:
cocktails.head(5)

,cocktail_id,name,instructions,image_url,category_id,glass_id,alcoholic
0,1,A1,"Pour all ingredients into a cocktail shaker, m...",https://www.thecocktaildb.com/images/media/dri...,0,1,1.0
1,2,ABC,Layered in a shot glass.,https://www.thecocktaildb.com/images/media/dri...,1,2,1.0
2,3,Ace,Shake all the ingredients in a cocktail shaker...,https://www.thecocktaildb.com/images/media/dri...,2,3,1.0
3,4,ACID,Poor in the 151 first followed by the 101 serv...,https://www.thecocktaildb.com/images/media/dri...,3,2,1.0
4,5,Adam,"In a shaker half-filled with ice cubes, combin...",https://www.thecocktaildb.com/images/media/dri...,4,1,1.0

In [20]:
# Save the tables to CSV files
categories.to_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/categories.csv", index=False)
glass_types.to_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/glass_types.csv", index=False)
ingredients.to_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/ingredients.csv", index=False)
cocktails.to_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/cocktails.csv", index=False)

In [21]:
import ast

def safe_literal_eval(val):
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)
        except:
            return []
    elif isinstance(val, list):
        return val
    else:
        return []

df['ingredient_ids'] = df['ingredient_ids'].apply(safe_literal_eval)
df['ingredientMeasures'] = df['ingredientMeasures'].apply(safe_literal_eval)

In [22]:
df['parsed_empty'] = df['ingredient_ids'].apply(lambda x: len(x) == 0)
print(df['parsed_empty'].value_counts())

parsed_empty
False    425
Name: count, dtype: int64

In [23]:
df[['name', 'ingredients']].head(10)

     name                                        ingredients
0      A1       [gin, grand marnier, lemon juice, grenadine]
1     ABC            [amaretto, baileys irish cream, cognac]
2     Ace     [gin, grenadine, heavy cream, milk, egg white]
3    ACID                       [151 proof rum, wild turkey]
4    Adam                 [dark rum, lemon juice, grenadine]
5    AT&T                  [absolut vodka, gin, tonic water]
6   A. J.                      [applejack, grapefruit juice]
7  Avalon  [vodka, pisang ambon, apple juice, lemon juice...
8  Apello  [orange juice, grapefruit juice, apple juice, ...
9  Affair  [strawberry schnapps, orange juice, cranberry ...

In [24]:
rows = []
for idx, row in df.iterrows():
    cocktail_id = idx + 1
    ingredients = row['ingredient_ids']
    measures = row['ingredientMeasures']

    for i, ingredient_id in enumerate(ingredients):
        measure = measures[i] if i < len(measures) else None
        rows.append({
            'cocktail_id': cocktail_id,
            'ingredient_id': ingredient_id,
            'measure': measure
        })

cocktail_ingredients = pd.DataFrame(rows)

In [25]:
cocktail_ingredients.head(5)

   cocktail_id  ingredient_id      measure
0            1            122  1 3/4 shot
1            1            131      1 Shot
2            1            163     1/4 Shot
3            1            137     1/8 Shot
4            2             12         1/3

In [26]:
# Save the cocktail_ingredients table to a CSV file
cocktail_ingredients.to_csv("/Users/admin/PycharmProjects/Cocktail-Recommendation-System/database/cocktail_ingredients.csv", index=False)